body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  header h3 {
    margin-right: auto;
    font-size: 24px;
  }
  
  #logo1 {
    color: white;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    background-color: #f4f4f4;
    color: #333;
  }
  
  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
  }
  
  .heading {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    background-color: #717171;
    font-weight: bold;
    font-size: 25px;
    color: white;
  }

  .clickable-text {
    display: inline-block;
  }
  
  .content {
    padding: 10px;
    background-color: #f5f5f5;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  
  .text-content {
    color: black;
  }
  
  .image-content {
    text-align: center;
  }
  
  .image-content img {
    width: 420px;
    height: 320px;
  }

  .no-bullets {
    list-style-type: none;
    padding-left: 0;
  }
  
  .nested-list {
    padding-left: 20px; 
    list-style-type: disc;
  }
  
  .subheading {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .subsubheading {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline;
  }
  
  .description {
    display: inline;
    text-align: justify;
  }

  .bullets-list {
    list-style-type: upper-roman;
  }

  .text-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .left-content {
    display: flex;
  }
  
  .skills-list-container {
    flex: 1;
  }
  
  .skills-list {
    list-style-type: disc;
    padding: 50px;
    margin: 0;
  }
  
  .skills-list li {
    margin-bottom: 5px;
  }
  
  .additional-data-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .additional-data {
    text-align: right;
  }
    
  
  .skills-img {
    width: 400px;
    height: 300px;
    float: right;
  }  

  .button1 {
    padding: 9px 9px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    border: 5px solid #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  